annotated-types==0.6.0
anyio==4.3.0
click==7.1.2
colorama==0.4.4
fastapi==0.110.0
greenlet==1.1.2
h11==0.14.0
idna==2.10
joblib==1.0.1
numpy==1.19.5
pandas==1.1.5
pydantic==2.6.4
pydantic-core==2.16.3
PyMySQL==1.1.0
python-dateutil==2.8.2
pytz==2021.3
scikit-learn==0.24.2
scipy==1.6.3
six==1.15.0
sniffio==1.2.0
SQLAlchemy==1.4.32
starlette==0.36.3
threadpoolctl==2.1.0
typing-extensions==4.10.0
tzdata==2024.1
uvicorn==0.29.0
cryptography==42.0.5