.main-mypage-container {
  padding: 20px;
  width: 90vw;
  margin: 0 auto;
  .my-list {
    background: linear-gradient(
      to bottom,
      rgba(245, 16, 4, 0.6),
      rgba(10, 25, 238, 0.6)
    );
  }
  .user-border {
    margin-bottom: 15px;
    border-radius: 10px;
    // background-color: rgba(206, 232, 247, 0.52);
  }
  .user-info {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  .user-image {
    display: flex;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  img {
    width: 80px;
    border-radius: 50px;
  }
}

.section {
  margin-bottom: 30px;
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.section h3 {
  margin-bottom: 10px;
  color: #333;
  font-size: 20px;
}

.section p {
  color: #666;
}

.my-analyze {
  height: 30vh;
  margin-top: 5vh;
  background-color: rgba(228, 238, 244, 0.52);
}

.my-like {
  background-color: rgba(206, 232, 247, 0.52);
}

.my-song {
  h3 {
    color: #ececec;
  }
}

.my-solo,
.my-reels {
  display: flex;
  align-items: center;
  width: 70vw;
  height: 5vh;
  background-color: #333;
  h3 {
    color: #ececec;
  }
}
.duet-song {
  display: flex;
  justify-content: space-between;
}
.my-duet {
  display: flex;
  align-items: center;
  width: 28vw;
  height: 5vh;
  background-color: #333;
}
