.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.play {
  width: fit-content;
  display: flex;
  justify-content: center;
  margin-top: 3px;
}
.icon {
  color: #46b8e0;
  font-size: xx-large;
}

.controlbutton {
  border: 0;
  background-color: transparent;
}

.controlbox {
  margin-top: 20%;
  width: 100%; // Added width for full-width slider in its container
  h4 {
    margin-bottom: 5%;
    color: white;
  }
  input[type="range"] {
    -webkit-appearance: none; // Remove default appearance
    appearance: none;
    width: 100%; // Full width of the container
    height: 4px; // Slider track height
    background: #ddd; // Light grey track, adjust the color as needed
    border-radius: 2px; // Slight rounding of the corners of the track
    cursor: pointer; // Change cursor to pointer when over the slider

    &:focus {
      outline: none; // Remove the focus outline
    }

    // Track styling
    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 4px;
      background: #ddd;
      border-radius: 2px;
    }

    &::-moz-range-track {
      width: 100%;
      height: 4px;
      background: #ddd;
      border-radius: 2px;
    }

    &::-ms-track {
      width: 100%;
      height: 4px;
      background: #ddd;
      border-radius: 2px;
    }

    // Thumb styling
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      height: 20px; // Thumb height, adjust as needed
      width: 20px; // Thumb width, adjust as needed
      background: #3db9ff; // Thumb color, matching your image
      border-radius: 50%; // Circular thumb
      margin-top: -8px; // Adjust thumb position to align it with the track
      border: 3px solid white; // White border for the thumb, adjust as needed
    }

    &::-moz-range-thumb {
      height: 20px;
      width: 20px;
      background: #3db9ff;
      border-radius: 50%;
      border: 3px solid white;
    }

    &::-ms-thumb {
      height: 20px;
      width: 20px;
      background: #3db9ff;
      border-radius: 50%;
      border: 3px solid white;
    }
  }
}

.textbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; // Ensure the textbox spans the full width of its container
  margin-top: 10px; // Add some space above the textbox

  p {
    margin-left: auto;
    color: white;
  }
  label {
    margin-right: auto;
    color: white;
  }
}
