.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 45px;
  .cover {
    justify-content: center;
    text-align: center;
  }
}
.buttonbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    margin-top: 15px;
    width: 315px;
    height: 30px;

    font-size: large;
    font-family: "Noto Sans KR", sans-serif;
    font-style: normal;
    // font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: white;

    border-radius: 10px;
    border: 0;
    background: linear-gradient(
      180deg,
      #3DB9FF 0%,
      #46B8E0 54.5%,
      #83E4F1 100%
    );
  }
}

.player {
  width: 80%;
}