.buttonwrapper {
  // border: 1px solid wheat;
  border-radius: 5px;
  width: 350px;
  height: 266px;
  background: linear-gradient(
    180deg,
    rgba(138, 213, 255, 0.9) 0%,
    rgba(152, 227, 255, 0.9) 54.5%,
    rgba(213, 250, 255, 0.9) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* 수직 가운데 정렬 */
  position: fixed; /* 화면 상단에 고정 */
  top: 50%; /* 화면 세로 중앙에 위치 */
  left: 50%; /* 화면 가로 중앙에 위치 */
  transform: translate(-50%, -50%); /* 화면 가운데 정렬을 위한 트랜스폼 */
  text-align: center;
  z-index: 1000; /* 다른 요소 위에 떠 있도록 설정 */

  // p {
  //   position: absolute;
  //   top: 10px; /* 상단으로 10px만큼 이동 */
  // }

  button {
    margin-top: 15px;
    width: 315px;
    height: 30px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: white;

    border-radius: 10px;
    border: 0;
    background: linear-gradient(
      180deg,
      #3DB9FF 0%,
      #46B8E0 54.5%,
      #83E4F1 100%
    );
  }
}

.guide {
  display: flex;
  justify-content: space-between;
  img {
    width: 80px;
    height: 80px;
  }
  h4 {
    margin-top: 30px;
    margin-left: 30px;

  }
}
