.buttonwrapper {
  border: 1px solid black;
  width: 361px;
  height: 266px;
  background: linear-gradient(
    180deg,
    rgba(138, 213, 255, 0.9) 0%,
    rgba(152, 227, 255, 0.9) 54.5%,
    rgba(213, 250, 255, 0.9) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* 수직 가운데 정렬 */
  position: relative; /* 자식 요소에 대한 절대 위치 지정을 위한 설정 */
  text-align: center; /* 수평 가운데 정렬 */

  p {
    position: absolute;
    top: 10px; /* 상단으로 10px만큼 이동 */
  }


  button {
    margin-top: 10px;
    width: 315px;
    height: 30px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
}

/* Group 54 */

// position: absolute;

// left: 5568px;
// top: 4011px;

/* Rectangle 28 */

// position: absolute;
// width: 361px;
// height: 266px;
// left: 5539px;
// top: 3893px;

// background: linear-gradient(180deg, rgba(138, 213, 255, 0.9) 0%, rgba(152, 227, 255, 0.9) 54.5%, rgba(213, 250, 255, 0.9) 100%);

/* 노래 리스트 */

// position: absolute;
// width: 315px;
// height: 30px;
// left: 5568px;
// top: 4011px;

// /* duet */
// background: linear-gradient(180deg, #3DB9FF 0%, #46B8E0 54.5%, #83E4F1 100%);
// border-radius: 10px;

/* 부른 곡 저장하기 */

// position: absolute;
// width: 138px;
// height: 18px;
// left: 80px;
// top: 6px;

// font-family: 'Roboto';
// font-style: normal;
// font-weight: 500;
// font-size: 16px;
// line-height: 20px;
// /* or 125% */
// display: flex;
// align-items: center;
// text-align: center;

// color: #FFFFFF;
