.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  // background-image: url('../../../public/icons/android-chrome-512x512.png');
  // background-size: cover;
}

// .background {
//   // background-image: url('../../assets/image/logo.png') ;
//   background-image: url('../../../public/icons/android-chrome-512x512.png');
//   background-size: cover;
// }