.wrapper {
  position: relative;
  height: 45px;
  border-bottom: 1px solid gray;
  align-items: center;

  div {
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 2%;
  }
  p {
    text-align: center;
  }
  .close {
    position: absolute;
    right: 13px; // 오른쪽으로 옮겨서 끝에서 13PX 띄우고
    bottom: 13px; // 바텀 기준으로 13PX 띄움
    width: 20px;
    height: 20px;
  }

  .back {
    position: absolute;
    left: 13px; // 왼쪽으로 옮겨서 끝에서 13PX 띄우고
    bottom: 13px; // 바텀 기준으로 13PX 띄움
    width: 20px;
    height: 20px;
  }

  .search {
    position: absolute;
    right: 13px; // 오른쪽으로 옮겨서 끝에서 13PX 띄우고
    bottom: 13px; // 바텀 기준으로 13PX 띄움
    width: 20px;
    height: 20px;
  }

  .setting {
    position: absolute;
    right: 13px; // 오른쪽으로 옮겨서 끝에서 13PX 띄우고
    bottom: 13px; // 바텀 기준으로 13PX 띄움
    width: 20px;
    height: 20px;
  }
}

.title {
  font-weight: bold;
  font-size: large;
  font-family: "Noto Sans KR", sans-serif;
  width: 400px;
  margin: 0 auto;
}
