.information-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  height: 700px;
  p{
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #a5a5a5;
    word-break: keep-all;
  }
}

.information-header {
  margin-top: 50px;
  margin-bottom: 50px;
  line-height: 1.4;
  text-align: center;
  
}

.info-photo {
  margin-top: 50px;
  margin-bottom: 50px;
  img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }
}

.info-name {
  input{
    width: 330px;
    height: 40px;
    text-align: left;
    padding-left: 10px;
    background-color: rgba(139, 213, 255, 0.12);
    border-radius: 10px;
    border: none;
  }
}

.information-button {
  background: linear-gradient(to right, #103ce7, #64e9ff,);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-top: 20px;
  width: 350px;
  height: 50px;
  cursor: pointer;
  margin-top: auto;
}

