.stepper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 50px;
  position: relative; 

  // 선
  &::before {
    content: '';
    position: absolute;
    top: 50%; // 동글이 중간에 위치
    left: 0;
    right: 0; // 좌우 맞추고
    height: 2px; 
    background: #d0e9f3;
    z-index: -1; // 아이콘 뒤로 배치
  }
}

.step-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50px;
  background-color: #d0e9f3;
  width: 20px;
  height: 20px;
  transition: border-color 0.3s ease-in-out;
  position: relative; 
  z-index: 1; // 아이콘이 위로 

  &.active {
    background: linear-gradient(to right, #103CE7, #64E9FF);
  }
}