$aspect-ratio-width: 16;
$aspect-ratio-height: 9;

.video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  transform: scaleX(-1);
  transition: transform 0.5s ease; // 변환에 대한 전환 효과 추가
}

.player {
  position: relative;

  &.swipe-up .video, &.swipe-down .video {
    transition: transform 0.5s ease; // 위아래 스와이프 애니메이션을 위한 전환 효과 추가
  }

  &.swipe-up .video {
    transform: translateY(-100%); // 위로 스와이프
  }

  &.swipe-down .video {
    transform: translateY(100%); // 아래로 스와이프
  }
}

.titleBox {
  position: absolute; // titleBox를 절대적 위치로 설정
  left: 0;
  bottom: 0; // player div의 왼쪽으로
  width: 100%; // player div의 너비만큼
  text-align: left; // 텍스트 가운데 정렬
  background-image: linear-gradient(to bottom, #c3c3c3, #505050);
  background-image: linear-gradient(
    to bottom,
    rgba(195, 195, 195, 0.4),
    rgba(80, 80, 80, 1)
  );
  color: white; // 글자색 흰색 (선택적)
  padding: 10px 0; // 패딩 (선택적)
  // 기타 필요한 스타일...
  padding-left: 15px;
}

.user {
  display: flex;
  justify-content: space-between;
}